OPENAI_API_KEY=
GOOGLE_CLIENT_SECRET_FILE=./client_secret.json
DEFAULT_CALENDAR_ID=primary
NOTIFY_LEAD_MINUTES=30
PRIORITY_COLOR_LOW=2
PRIORITY_COLOR_MEDIUM=9
PRIORITY_COLOR_HIGH=11
PRIORITY_COLOR_URGENT=4
TIMEZONE=America/New_York
APP_DEBUG=0
